/* src/App.css */
.App {
  text-align: center;
}

.App main {
  padding: 20px;
}

.App h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 10px 0;
}
